.navbar{
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    position: fixed;
    width: 100%;
}
.sidebar-menu{
    width: 20%;
    background-color: lightgrey;
    text-decoration: none;
    text-underline: none;
}
.body-content{
    padding-top: 10%;
    width: 100%;
    padding: 50px;
}

@media (max-width: 950px) {
    .navbar-nav{
        display: none;
    }

}

/*.side-options{*/
/*    border: grey solid 2px;*/
/*    font-size: x-large;*/
/*    padding: 14px;*/
/*    margin: 5px;*/
/*}*/
/*.side-options i{*/
/*    float: left;*/
/*}*/

/*.sidebar {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    width: 200px;*/
/*    background-color: #f1f1f1;*/
/*    position: fixed;*/
/*    height: 100%;*/
/*    overflow: auto;*/
/*}*/

/*.sidebar a {*/
/*    display: block;*/
/*    color: black;*/
/*    padding: 16px;*/
/*    text-decoration: none;*/
/*}*/

/*.sidebar a.active {*/
/*    background-color: #4CAF50;*/
/*    color: white;*/
/*}*/

/*.sidebar a:hover:not(.active) {*/
/*    background-color: #555;*/
/*    color: white;*/
/*}*/

/*div.content {*/
/*    margin-left: 200px;*/
/*    padding: 1px 16px;*/
/*    height: 1000px;*/
/*}*/

/*@media screen and (max-width: 700px) {*/
/*    .sidebar {*/
/*        width: 100%;*/
/*        height: auto;*/
/*        position: relative;*/
/*    }*/
/*    .sidebar a {float: left;}*/
/*    div.content {margin-left: 0;}*/
/*}*/

